# Notes: This file should reside in the root of the user's
# home directory who is doing the committing and be renamed
# to .genpatchsrc

# Developers username for Gentoo VCS
USERNAME="<your username>"
ECHANGELOG_USER="<First Name> <Last Name> <username@gentoo.org>"

# The path to the directory where your clone of the the Gentoo
# linux-patches project (proj/linux-patches.git )
# is checked out too. 
LOCAL_PATCHES_TRUNK="/directory/linux-patches"

# tmp directory where the tarballs are created along with a clone of the repo
LOCAL_TMP="/tmp"

# Remote repository configuration
REMOTE_BASE="git+ssh://git@git.gentoo.org/proj/linux-patches.git"

# prefix naming of the tarballs that will be created 
TARBALL_BASENAME="genpatches"
KERNEL_NAME="genpatches"

# Should only be 'yes' if the website is hosted on your devspace. 
# Currently this is limited # to one member of the kernel team
DO_WEBSITE="no"

# this will create the email announcement of a release and send it too 
# the gentoo-kernel mailing list
DO_EMAIL_ANNOUNCEMENT="yes"

# Website/email settings
# directory where the website is built before upload
WEB_LOCAL="/directory/linux-patches-misc/web"

#website location, only relevant if the gentoo kernel website is hosted on your devspace
WEB_GENPATCHES_BASE="dev.gentoo.org:/home/<username>/public_html/genpatches"

# sendmail command used to send the announcement email
SENDMAIL="ssh <username>@dev.gentoo.org /usr/sbin/sendmail"

# builds the three tarballs which make up a release of genpatches
WE_WANT="base extras experimental"

